@inherits LayoutComponentBase

<PageTitle>CrudApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @Body
    </div>
</div>

<script>
    function handleFormSubmit(event) {
        event.preventDefault();
        DotNet.invokeMethodAsync('CrudApp', 'HandleSubmitAsync');
    }
</script>
